# Environment variables for Document Verification Backend
# Secrets and configs
POPPLER_PATH=C:\Release-26.02.0-0\poppler-26.02.0\Library\bin
GROQ_API_KEY=your_groq_api_key_here

# MongoDB Atlas Configuration
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
DATABASE_NAME=SupplySyncAI
