* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;

    background:
        radial-gradient(circle at top,
            #0b1c35,
            #020817);

    color: white;

    min-height: 100vh;
}

#root {
    min-height: 100vh;
}